* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, button, input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*, li {
  list-style: none;
}

.animate-before {
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 28px 15px 24px;
}

h3 {
  color: #e60023;
  font-size: 20px;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 16px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #111;
  font-size: 16px;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav .buttons {
  display: flex;
  margin-left: 24px;
  align-items: center;
  justify-content: center;
}
nav .buttons button {
  font-size: 16px;
  font-weight: 700;
  padding: 11px 12px;
  border-radius: 24px;
  border: none;
  color: #111;
  background-color: #efefef;
  margin-left: 16px;
}
nav .buttons button:hover {
  color: #fff;
  background-color: #e60023;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 120px;
}
.heading .text {
  font-size: 2vw;
  font-weight: 600;
}
.heading .wrapper {
  position: relative;
}
.heading .wrapper .offset {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%);
}
.heading .wrapper .text {
  white-space: nowrap;
  color: #e60023;
  transition-duration: 1s;
}

.animate-before {
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.grid-container .grid {
  display: grid;
  grid-template-columns: repeat(7, 252px);
}
.grid-container .grid .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 1s;
}
.grid-container .grid .column:nth-child(1) {
  margin-top: 0px;
  transition-delay: 0s;
}
.grid-container .grid .column:nth-child(2) {
  margin-top: 160px;
  transition-delay: 0.2s;
}
.grid-container .grid .column:nth-child(3) {
  margin-top: 320px;
  transition-delay: 0.4s;
}
.grid-container .grid .column:nth-child(4) {
  margin-top: 480px;
  transition-delay: 0.6s;
}
.grid-container .grid .column:nth-child(5) {
  margin-top: 320px;
  transition-delay: 0.8s;
}
.grid-container .grid .column:nth-child(6) {
  margin-top: 160px;
  transition-delay: 1s;
}
.grid-container .grid .column:nth-child(7) {
  margin-top: 0px;
  transition-delay: 1.2s;
}
.grid-container .grid .item {
  width: 236px;
  height: 350px;
  background-color: #e60023;
  border-radius: 10px;
}
.grid-container .grid .item:not(:first-child) {
  margin-top: 16px;
}/*# sourceMappingURL=style.css.map */